.product-detail-container {
  padding: 0 200px;
}

.product-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-image {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  max-height: 300px;
  width: 300px;
  object-fit: cover;
}

.product-image:hover {
  transform: scale(1.01);
}

.product-variant {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.1em;
}

.product-variant div {
  display: flex;
  justify-content: space-between;
  text-align: start;
  align-items: start;
  max-height: 60px;
  max-width: 45%;
}

.product-variant div p {
  margin: 15px 1%;
}

.product-variant div div{
  margin: 15px 0;
}

.product-variant div li {
  margin: 15px 1%;
}